@import (reference) '../../common.less';

.box {
    --primary: #008aff;
    --warning: #ffc107;
    --info: #a9ecff;

    display: block;
    background-image: url(./image/background-top.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;

    position: relative;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        height: 100%;
        background-image: url(./image/background-bottom.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
    }

    :global {
        .text-primary {
            color: var(--primary) !important;
        }
        .text-warning {
            color: var(--warning) !important;
        }
        .text-info {
            color: var(--info) !important;
        }
        .bg-info {
            background: var(--info) !important;
        }
        .btn {
            border-radius: 0;
            &.btn-primary {
                border: var(--primary);
                background: var(--primary);
            }
            &.btn-warning {
                border: var(--warning);
                background: var(--warning);
                color: white;
            }
            &.btn-info {
                border: var(--info);
                background: var(--info);
            }
        }
        .form-control {
            border-radius: 0;
        }
    }
    .aboutItem {
        display: flex;
        align-items: center;
        margin: 1rem auto;
        &::before {
            content: '';
            display: inline-block;
            min-width: 3rem;
            min-height: 3rem;
            margin-right: 1rem;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
        each(range(3), {
            &:nth-child(@{value})::before {
                background-image: url('./image/icon-@{value}.png');
            }
        });
    }
    .outNav {
        display: flex;
        justify-content: center;
        margin-top: -3rem;
        text-align: center;
        text-transform: uppercase;
        a {
            display: block;
            padding: 1rem;
            @media (min-width: 576px) {
                padding: 1.5rem;
            }
            @media (min-width: 768px) {
                padding: 4rem;
            }
            &:link {
                text-decoration: none;
                cursor: pointer;
            }
            &:nth-child(1) {
                background: #bae3f9;
            }
            &:nth-child(2) {
                background: #ceebfb;
            }
            &:nth-child(3) {
                background: #ddf1fc;
            }
            &:nth-child(4) {
                background: #eaf6fd;
            }
        }
    }
    .speakerSubTitle {
        text-transform: uppercase;
        font-weight: bold;
        background: #ffdb8d;
        color: white;
        padding: 0.25rem 0.5rem;
        width: max-content;
        margin: auto;
    }
    .speaker {
        .avatar {
            width: 8rem;
            height: 8rem;
            border-radius: 50%;
        }
        &:nth-child(odd) {
            .avatar {
                box-shadow: 1rem 0 0 rgb(255, 244, 220);
            }
        }
        &:nth-child(even) {
            .avatar {
                box-shadow: 1rem 0 0 rgb(231, 249, 255);
            }
        }
        .summary {
            text-align: left;
            word-break: break-all;
            word-wrap: break-word;
            height: 10rem;
            overflow: auto;
            .scroll-bar(var(--light), var(--secondary));
        }
    }
    .loadSpeaker {
        display: block;
        width: max-content;
        margin: auto;
        text-transform: uppercase;
    }
    .partner {
        max-height: 5rem;
    }
}
