@import (reference) '../../common.less';

.box {
    --primary: #008aff;
    --warning: #ffc107;
    --info: #a9ecff;
    display: block;
    background-image: url(./background-top.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;

    :global {
        .text-primary {
            color: var(--primary) !important;
        }
        .text-warning {
            color: var(--warning) !important;
        }
        .text-info {
            color: var(--info) !important;
        }
        .bg-info {
            background: var(--info) !important;
        }
        .btn {
            border-radius: 0;
            &.btn-primary {
                border: var(--primary);
                background: var(--primary);
            }
            &.btn-warning {
                border: var(--warning);
                background: var(--warning);
                color: white;
            }
            &.btn-info {
                border: var(--info);
                background: var(--info);
            }
        }
    }
    .outNav {
        display: flex;
        justify-content: center;
        margin-top: -3rem;
        text-transform: uppercase;
        a {
            display: block;
            padding: 4rem 5rem;
            &:link {
                text-decoration: none;
                cursor: pointer;
            }
            &:nth-child(1) {
                background: #bae3f9;
            }
            &:nth-child(2) {
                background: #ceebfb;
            }
            &:nth-child(3) {
                background: #ddf1fc;
            }
            &:nth-child(4) {
                background: #eaf6fd;
            }
        }
    }
    .speakerSubTitle {
        text-transform: uppercase;
        font-weight: bold;
        background: #ffdb8d;
        color: white;
        padding: 0.25rem 0.5rem;
        width: max-content;
        margin: auto;
    }
    .speaker {
        .avatar {
            width: 8rem;
            height: 8rem;
            border-radius: 50%;
        }
        &:nth-child(odd) {
            .avatar {
                box-shadow: 1rem 0 0 rgb(255, 244, 220);
            }
        }
        &:nth-child(even) {
            .avatar {
                box-shadow: 1rem 0 0 rgb(231, 249, 255);
            }
        }
        .summary {
            word-break: break-all;
            word-wrap: break-word;
            height: 10rem;
            overflow: auto;
            .scroll-bar(var(--light), var(--secondary));
        }
    }
    .loadSpeaker {
        display: block;
        width: max-content;
        margin: auto;
        text-transform: uppercase;
    }
    .partner {
        max-height: 5rem;
    }
}
